
<div class="rental">

  <br><br>

  <label for="new-title">Title:</label>

  <Input @id="new-title" @placeholder={{rental.title}} @value={{rental.title}} @key-up={{action "updateTitle"}} />

  <br><br>

  <label for="new-owner">Owner: {{rental.owner}}</label>

  {{input
    type="text"
    id="new-owner"
    placeholder=rental.owner
    value=rental.owner
  }}

  <br><br>

  <label for="new-title">City:</label>

  {{input
    type="text"
    id="new-city"
    placeholder=rental.city
    value=rental.city
  }}

  <br><br>

  <label for="new-title">Category:</label>

  {{input
    type="text"
    id="new-category"
    placeholder=rental.category
    value=rental.category
  }}

  <br><br>

  <label for="new-isbn">Image:</label>

  {{input
    type="text"
    id="new-image"
    placeholder=rental.image
    value=rental.image
  }}

  <br><br>

  <label for="new-bedrooms">Bedrooms:</label>

  {{input
    type="number"
    id="new-bedrooms"
    placeholder=this.rental.bedrooms
    hint=rental.bedrooms
    value=rental.bedrooms
  }}

  <br><br>

  <label for="new-city">Description:</label>

  {{textarea
    cols="80"
    rows="6"
    id="new-description"
    placeholder=rental.description
    value=rental.description
  }}

</div>

