{{#if this.model.title}}
  <h3>Current Rental #{{this.model.title}}</h3>
  <h2>{{this.model.title}}</h2>
{{else}}
  <h3>Current Rental #{{this.model.id}}</h3>
{{/if}}

<RentalForm @rental={{this.model}} />

<br><br>

<div>
  <button class="button-indent" {{action "save" this.model}}>Update Rental</button>
  <button class="button-indent" {{action "cancel" this.model}}>Cancel</button>
</div>
