<h1>This in new rental</h1>

<br><br>

<div class="rental-form">

  <label for="new-id">Id:</label>

  {{input
    type="text"
    id="new-id"
    placeholder="Enter ID of the rental?"
    value=model.id
  }}

  <br><br>

  <label for="new-owner">Owner:</label>

  {{input
    type="text"
    id="new-owner"
    placeholder="Who is owner of the rental?"
    value=model.owner
  }}

  <br><br>

  <label for="new-title">Title:</label>

  {{input
    type="text"
    id="new-title"
    placeholder="What is an amazing rental?"
    value=model.title
  }}

  <br><br>

  <label for="new-title">City:</label>

  {{input
    type="text"
    id="new-city"
    placeholder="What is an amazing city?"
    value=model.city
  }}

  <br><br>

  <label for="new-title">Category:</label>

  {{input
    type="text"
    id="new-category"
    placeholder="What is a category rental?"
    value=model.category
  }}

  <br><br>

  <label for="new-isbn">Image:</label>

  {{input
    type="text"
    id="new-image"
    placeholder="Put Image url here"
    value=model.image
  }}

  <br><br>

  <label for="new-bedrooms">Bedrooms:</label>

  {{input
    type="number"
    id="new-bedrooms"
    placeholder="Input Bedrooms number here"
    value=model.bedrooms
  }}

  <br><br>

  <label for="new-city">Description:</label>

  {{textarea
    cols="80"
    rows="6"
    id="new-description"
    placeholder="Here the story begins..."
    value=model.description
  }}

  <br><br>

  <div>
    <button class="button-indent" {{action "save"}}>Create Rental</button>
    <button class="button-indent" {{action "cancel"}}>Cancel</button>
  </div>

</div>
